body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}
h1{
	color: #66BFBF;
font-size: 5.625rem;
font-family: 'Sacramento', cursive;
margin: 50px auto 0 auto;
line-height: 1;
}
h2{
	color: #66BFBF;
	font-size: 2.5rem;
	font-family: 'Montserrat', sans-serif;
font-weight: normal;
line-height: 1;

}
h3{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;

}
hr {
	background-color: #EAF6F6;
	border-style: none;
	width: 1.5%;
	border-width: 100px;
	border-top: dotted;
}
.top-container{
	background-color: #EAF6F6;
	padding-top: 100px;
	position: relative;
}
.middle-container{
	padding-top: 100px;
}
.bottom-container{

	background-color: #66BFBF;

	color: #EAF6F6;
	
}

.bottom-cloud{
	position: absolute;
	left:300px;
	bottom:300px;
}
.top-cloud{
	position: absolute;
	top:60px;
	right: 450px;
}
.skill-row{
	margin:50px auto 50px auto;
	width: 50%;
	text-align: left;
	line-height: 2;
}
.tool{
	width: 20%;
	float: left;
	margin-right: 20px;

}
.desktop{
	width: 20%;
	float: right;
	margin-left: 20px;
}
.profile{
	color: #40514E;
	line-height:2;
	white-space: pre-line;

}
.footer-link{
	color: #11999E;
}

.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
	background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
	background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }
  
  .btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
  }


.contact-me{
	margin: 20px;
}
